.mainSection {
  //   background: url(/assets/images/background.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainSection::after {
  content: "";
  background: url(/assets/images/background.png);
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.opacityLayer {
  height: 100%;
  width: 100%;
  background-color: #666;
}

.imageSection {
  text-align: center;
  margin-top: 25%;
}

.imageSection img {
  width: 15rem;
}

.imageSection button {
  margin-top: 1rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 20px;
  color: #4433aa;
  background-color: #fff;
  border-radius: 30px;
  border: none;
}

.footer {
  width: 100%;
  height: 10%;
  background-color: #160764;
  position: fixed;
  bottom: 1px;
}

.footer img {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  position: absolute;
  right: 1px;
  padding: 3px;
  margin: 12px;
}

@media only screen and (max-width: 600px) {
  .imageSection {
    text-align: center;
    margin-top: 35%;
  }
}
